@using WebApplication25.ModelView
@model UploadLogModelView
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
<form asp-action="UploadFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
<input type="file" accept=".log" asp-for="FormFile" />
<br />
<input type="submit" />
</form>
@Html.ActionLink("Show main table", "MainTable", "Home")
@Html.ActionLink("Show ip table", "IpTable", "Home")
@Html.ActionLink("Show files table", "FilesTable", "Home")

   
</div>
